<div class="nav">
    <span (click)="switchTab('results')">Get all results</span>
    <span (click)="switchTab('new')">Add new test</span>
</div>

<div class="app-container">
    <div class="cards-container" *ngIf="displaySection === 'results'">
        <div *ngFor="let result of results" class="result"
             [ngClass]="result.is_healthy? 'negative' : 'positive'">
            <a routerLink="result/:{{result.id}}">
                <h1>{{result.full_name}}</h1>
            </a>
        </div>
    </div>

    <div class="add-new-container" *ngIf="displaySection === 'new'">
        <div class="form">
            <input name="full_name"
                   type="text" maxlength="30"
                   [placeholder]="'Enter your full name'">
            <input name="age"
                   type="number"
                   [placeholder]="'Enter your age'">
            <select name="gender">
                <option value="female">Female</option>
                <option value="male">Male</option>
            </select>
            <input name="email"
                   type="text" maxlength="30"
                   [placeholder]="'Enter your email'">
            <input type="file" accept="audio/*">
            <div class="confirm-btn">Confirm</div>
        </div>
    </div>
</div>
